on:
  push:
    branches:
      - main
  pull_request:
    types: [assigned, opened, synchronize, reopened, labeled]
  workflow_dispatch:
name: ci
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node: [20, 22]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: npm
      - run: npm config set update-notifier false
      - run: npm ci --engine-strict
      - run: npm test
      - name: Coveralls GitHub Action
        uses: coverallsapp/github-action@v2.3.6
