name: 'Lint PR'

on:
  pull_request_target:
    types:
      - opened
      - edited
      - reopened
      - synchronize
      
concurrency:
  group: ${{ github.event.pull_request.number }}
  cancel-in-progress: true
  
jobs:
  main:
    name: Validate PR title
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    steps:
      - uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
